<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="edu.ifmo.tikunov.lab5.server.Server" level="TRACE" additivity="false">
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>./log/debug.log</file>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
				</Pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- rollover daily -->
				<fileNamePattern>./log/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>10MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
		</appender>
    </logger>

</configuration>